.header {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  max-width: 500px;
  padding: 10px 20px;
}

.header__button {
  flex-shrink: 0;
  display: block;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  padding: 12px;
  background-color: #635a5a;
  color: white;
  cursor: pointer;
  transition: background 0.25s;
  margin-right: -3px;
}

.header__button:hover {
  background: #b1a5a5;
}

.header__input {
  flex: 1;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
}
