* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column; 
}

#main {
  display: flex;
}

#side-bar {
  display: flex;
  flex-shrink: 5;
  flex-direction: row;
  width: 100%;
  transition: width 0.3s ease;
}

#detail {
  position: sticky;
  top: 20px;
  flex: 1;
  flex-shrink: 1;
  align-self: flex-start;
  border-radius: 10px;
  margin: 20px 14px 17px -8px;
}
