* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;


















  background-color: #242424;
}

#root {
  flex-direction: column;
  display: flex;
  align-items: center;
}
