.profile {
  display: flex;
  flex-direction: column;

  width: fit-content;
  padding: 24px 44px;
  border: 1px solid rgb(119 111 111);
  border-radius: 10px;
}

.field {
  display: flex;
  padding: 10px;
}

h2 {
  text-align: center;
}

img {
  display: block;
  width: 90px;
  margin-bottom: 20px;
  border-radius: 10px;
}

label {
  width: 90px;
  color: #4b5563;
}

span {
  color: #111827;
}
